@model IEnumerable<MySocialNetwork.Models.User>

<ul>
    @foreach (var user in Model)
    {
        <li>
            @Html.LabelFor(m => user.Name)
            @Html.DisplayFor(m => user.Name)
        </li>
    }
</ul>
