@model MySocialNetwork.ViewModels.FriendViewModel

@{
    ViewBag.Title = "Friends";
}

<h1>Requests</h1>

<ul id="requests">
    @Html.Partial("RequestsPartial", Model.Requests)
</ul>

@using (Ajax.BeginForm("Search",
    new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "users"
    }))
{
    <input type="text" name="name" />
    <input type="submit" value="Search" />
}

<h1>Users</h1>

<ul id="users">
    @Html.Partial("UsersPartial", Model.Users)
</ul>