@model MySocialNetwork.ViewModels.FriendViewModel

@{
    ViewBag.Title = "Friends";
}

<section class="request">
    @if (Model.Requests.Any())
    {
        <h1>Requests</h1>
    }

    <ul id="requests">
        @Html.Partial("RequestsPartial", Model.Requests)
    </ul>
</section>

<section class="user">
    <h1>Users</h1>

    @using (Ajax.BeginForm("Search",
    new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "users"
    }))
    {
        <input type="text" name="text" placeholder="Text" />
        <input type="submit" value="Search" />
    }

    <ul id="users">
        @Html.Partial("UsersPartial", Model.Users)
    </ul>
</section>
