<nav>
    <ul>
        <li>@Html.ActionLink("News", "Index", "News")</li>
        <li>@Html.ActionLink("Friends", "Index", "Friend")</li>
        <li>@Html.ActionLink("Messages", "Index", "Message")</li>
    </ul>
</nav>
