* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #444;
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 24px;
}

p {
    font-size: 1em;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    width: 880px;
}

.float-container {
    overflow: hidden;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

/* header */

.banner {
    background: #2d2d30;
    border-bottom: 1px solid #171717;
    overflow: hidden;
}

    .banner a {
        color: #d0d0d0;
    }

        .banner a:hover {
            color: #fff;
        }

/* title */

.title {
    float: left;
    font-size: 1.75em;
    margin: 9px;
}

/* account */

.account-menu {
    float: right;
}

    .account-menu li {
        display: inline;
        margin-left: -4px;
    }

    .account-menu a {
        display: inline-block;
        padding: 16px;
    }

        .account-menu a:hover {
            background: #171717;
            border-radius: 5px;
            color: #fff;
        }

/* menu */

.menu {
    background: #3b5998;
    border-bottom: 1px solid #133783;
}

    .menu nav {
        overflow: hidden;
    }

    .menu ul {
        float: left;
        left: 50%;
        position: relative;
    }

    .menu li {
        float: left;
        position: relative;
        right: 50%;
    }

    .menu a {
        color: #efeff2;
        display: block;
        padding: 18px;
    }

        .menu a:hover {
            background: #133783;
            border-radius: 5px;
            color: #fff;
        }

/* body */

#body .container {
    background: #efeff2;
    border-bottom: 1px solid #d0d0d0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    padding: 24px;
}

/* footer */

footer p {
    padding: 12px;
}

/* input */

input {
    border-radius: 5px;
}

    input[type=text],
    input[type=password] {
        border: 1px solid #d0d0d0;
        box-sizing: border-box;
        height: 32px;
        padding: 0 12px;
    }

    input[type=checkbox] {
        height: 32px;
        vertical-align: middle;
    }

    input[type=submit] {
        background: #2d2d30;
        border: 1px solid #171717;
        color: #d0d0d0;
        cursor: pointer;
        height: 32px;
        padding: 0 12px;
    }

        input[type=submit]:hover {
            background: #3e3e40;
            border-color: #2d2d30;
            color: #fff;
        }

.input-validation-error {
    border-color: #a4373a !important;
}

.validation-summary-errors {
    color: #a4373a;
}

.field-validation-error {
    color: #a4373a;
}

/* account form */

.account-form label {
    display: block;
}

.account-form .checkbox {
    display: inline;
    vertical-align: middle;
}

.account-form li {
    margin: 12px 0;
}

.account-form input[type=submit] {
    margin-top: 12px;
}

/* status */

#status > form {
    width: 100%;
    margin-bottom: 24px;
}

    #status > form > input[type=text] {
        width: 440px;
    }

#status > ul > li:first-child {
    border-top: 1px solid #d0d0d0;
    padding: 12px 0;
}

#status > ul > li {
    border-bottom: 1px solid #d0d0d0;
    padding: 12px 0;
    overflow: hidden;
}

    #status > ul > li:last-child {
        border-bottom: 0px;
        padding: 12px 0;
    }

    #status > ul > li > div > .message {
        max-width: 440px;
    }

/* comment */

.comment {
    margin-left: 36px;
    margin-top: 6px;
}

    .comment li {
        margin-bottom: 6px;
    }

    .comment .message {
        max-width: 404px;
    }

    .comment input[type=text] {
        width: 220px;
    }

.author {
    font-size: 1.25em;
    font-weight: bold;
}

.datetime {
    font-size: 0.75em;
    font-style: italic;
}
