@model MySocialNetwork.ViewModels.StatusViewModel

@{
    ViewBag.Title = "News";
}

<h1>News feed</h1>

<section id="status">
    @Html.Partial("CreatePartial", Model.Status)

    <ul id="statuses">
        @Html.Partial("ListPartial", Model.Statuses)
    </ul>
</section>
