@model IEnumerable<MySocialNetwork.Models.Status>

@{
    ViewBag.Title = "Home";
}

<section id="status">
    @using (Html.BeginForm("Add", "Status"))
    {
        <input type="text" name="message" />
        <input type="submit" value="Update" />
    }

    <ul>
        @foreach (var status in Model)
        {
            <li>
                <span class="author">@Html.DisplayFor(m => status.Author.Name)</span>
                <span class="datetime">@Html.DisplayFor(m => status.DateTime)</span>
                <div class="message">
                    @Html.DisplayFor(m => status.Message)
                </div>

                @Html.Action("Index", "Comment", new { statusId = status.Id })
            </li>
        }
    </ul>
</section>
