@model IEnumerable<MySocialNetwork.Models.User>

<ul id="users">
    @foreach (var user in Model)
    {
        <li>
            @Html.DisplayFor(m => user.Name)
            @using (Html.BeginForm("AddToFriends", "User"))
            {
                @Html.HiddenFor(m => user.Id)
                <input type="submit" value="Add" />
            }
        </li>
    }
</ul>
