@model IEnumerable<MySocialNetwork.Models.Status>

@{
    ViewBag.Title = "News";
}

<h1>News</h1>

<section class="status">
    @using (Ajax.BeginForm("AddStatus",
    new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.InsertBefore,
        UpdateTargetId = "statuses",
        OnComplete = "OnFormComplete"
    }))
    {
        <input type="text" name="text" placeholder="Text" />
        <input type="submit" value="Create" />
    }

    <ul id="statuses">
        @Html.Partial("StatusesPartial", Model)
    </ul>
</section>
