@model MySocialNetwork.ViewModels.CommentViewModel

<section class="comment">
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>
                <span class="author">@Html.DisplayFor(m => comment.Author.Name)</span>
                <span class="datetime">@Html.DisplayFor(m => comment.DateTime)</span>
                <div class="message">
                    @Html.DisplayFor(m => comment.Message)
                </div>
            </li>
        }
    </ul>

    @using (Html.BeginForm("Add", "Comment"))
    {
        <input type="hidden" name="statusId" value="@Model.Status.Id" />
        <input type="text" name="message" placeholder="Comment" />
        <input type="submit" value="Post" />
    }
</section>
